<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="src/main/resources/log" /> <!-- 로그 파일이 저장될 경로 -->

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/settlementHistory.log</file> <!-- 로그 파일명 및 경로 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}-settlementHistory.log</fileNamePattern> <!-- 로그 파일 패턴 -->
            <maxHistory>30</maxHistory> <!-- 최대 보존 일수 -->
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 콘솔 출력을 위한 Appender 정의 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyyMMdd HH:mm:ss.SSS} %highlight(%-5level) [%thread] %highlight([%logger{35}:%line]) - %msg %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!-- SettlementService의 로그를 파일에 남김 -->
    <logger name="com.douzone.timeattendance.service.SettlementService" level="INFO">
        <appender-ref ref="FILE" />
    </logger>

    <!-- 스프링 자체의 로그를 콘솔에 출력 -->
    <logger name="org.springframework" level="INFO">
        <appender-ref ref="CONSOLE" />
    </logger>

    <!-- 루트 로거 설정 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
