<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH" value="src/main/resources/log" /> <!-- 로그 파일이 저장될 경로 -->

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/settlementHistory.log</file> <!-- 로그 파일명 및 경로 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/%d{yyyy-MM-dd}-settlementHistory.log</fileNamePattern> <!-- 로그 파일 패턴 -->
            <maxHistory>30</maxHistory> <!-- 최대 보존 일수 -->
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="ERROR">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.douzone.timeattendance.service.SettlementService" level="INFO">
        <appender-ref ref="FILE" />
    </logger>

</configuration>
