<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.douzone.timeattendance.mapper.CompanyMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="companyId">
        INSERT INTO company(
            name,
            code,
            <if test="logoUrl != null and logoUrl != ''">
                logo_url,
            </if>
            date_created,
            date_updated,
            date_deleted,
            is_deleted)
        VALUES (
            #{name},
            #{code},
            <if test="logoUrl != null and logoUrl != ''">
                #{logoUrl},
            </if>
            NOW(),
            NOW(),
            NULL,
            false)
    </insert>

    <select id="findByCode" resultType="Company">
        select *
        from company
        where code = #{code}
    </select>

    <select id="existsUserInCompany" resultType="java.lang.Boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN true ELSE false END
        FROM user
        WHERE company_id = #{companyId}
    </select>

    <select id="existsName" resultType="java.lang.Boolean">
        SELECT EXISTS(SELECT *
                      FROM company
                      WHERE name = #{name})
    </select>

    <select id="findAll" resultType="Company">
        SELECT *
        FROM company
        WHERE is_deleted = false
    </select>

</mapper>