<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzone.timeattendance.mapper.PrevilegeMapper">

    <!-- 사용자 정보와 해당 사용자가 관리하고 있는 부서 정보를 함께 조회 -->
    <select id="findPrivilegeList" resultType="com.douzone.timeattendance.dto.privilege.FindPrivilegeResponse">
        SELECT
            u.user_id,
            u.name,
            u.email,
            u.phone,
            u.position,
            u.dept_id AS user_dept_id,
            d.name AS user_dept_name,
            dp.dept_id AS privilege_dept_id,
            d2.name AS privilege_dept_name,
            dp.privilege_date
        FROM
            user u
                LEFT JOIN
            dept_privilege dp ON u.user_id = dp.user_id
                LEFT JOIN
            dept d ON u.dept_id = d.dept_id
                LEFT JOIN
            dept d2 ON dp.dept_id = d2.dept_id
        WHERE
            dp.dept_id IS NOT NULL;
    </select>

    <!-- 사용자 정보와 해당 사용자가 관리하고 있는 부서 정보를 함께 조회 (이름으로 검색) -->
    <select id="findPrivilegeByName" resultType="com.douzone.timeattendance.dto.privilege.FindPrivilegeResponse">
        SELECT u.user_id,
               u.name,
               u.email,
               u.phone,
               u.position,
               u.dept_id  AS user_dept_id,
               d.name     AS user_dept_name,
               dp.dept_id AS privilege_dept_id,
               d2.name    AS privilege_dept_name,
               dp.privilege_date
        FROM user u
                 LEFT JOIN
             dept_privilege dp ON u.user_id = dp.user_id
                 LEFT JOIN
             dept d ON u.dept_id = d.dept_id
                 LEFT JOIN
             dept d2 ON dp.dept_id = d2.dept_id
        WHERE u.name LIKE CONCAT('%', #{name}, '%')
          AND dp.dept_id IS NOT NULL;
    </select>

</mapper>
