<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.douzone.timeattendance.mapper.TimeRangeMapper">
    <insert id="insertTimeRange" parameterType="TimeRange">
        INSERT INTO Time_range(type, start, end, work_group_id)
        VALUES (#{type}, #{start}, #{end}, #{workGroupId})
    </insert>
    <delete id="deleteTimeRangeByWorkGroupId">
        DELETE FROM Time_range
        WHERE work_group_id = #{workGroupId}
    </delete>
</mapper>