<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.douzone.timeattendance.mapper.WorkGroupRecordMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO user(user_code,
                         name,
                         email,
                         password,
                         phone,
                         hire_date,
                         birthday,
                         dept,
                         position,
                         distribution,
                         date_created,
                         date_updated,
                         date_deleted,
                         is_deleted,
                         role,
                         company_id)
        VALUES (#{userCode},
                #{name},
                #{email},
                #{password},
                #{phone},
                #{hireDate},
                #{birthday},
                #{dept},
                #{position},
                false,
                NOW(),
                NOW(),
                null,
                false,
                #{role},
                #{companyId})
    </insert>

    <select id="findLatestWorkGroupRecordByUserId" resultType="WorkGroupRecord">
        SELECT work_group_record_id,
               wgr.date,
               work_group_name,
               work_group_type,
               time_range_type,
               start,
               end,
               mon,
               tue,
               wed,
               thu,
               fri,
               sat,
               sun,
               wgr.work_group_id
        FROM work_group_record wgr
        JOIN distribution d ON wgr.work_group_id = d.work_group_id
        WHERE d.user_id = #{userId}
        ORDER BY wgr.date DESC
        LIMIT 1
    </select>

</mapper>